body{
    background-image: url(./images/background.jpg);
  
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 3rem;
    text-align: center;
}   
.container{

    position: relative;
    width: fit-content;
    margin: 10px auto;
    display:flex;
    flex-direction: row; 
    align-items: flex-start;

}
.box{
    width: 300px;
    height: 300px;
    margin:10px;
    padding: 1px black;
    box-shadow: 12px 5px 30px  rgba(0, 0, 0, 5);
    position: relative;
    top: 0px;
    bottom: 10px;
    border-radius: 16px;
}  
.box img{
    margin-right: 0px;
    display:auto;
    width: 300px;
    height: 300px;
    border-radius: 16px;


}
.box:hover{

}
.intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    border: 2px  solid black;
    width: max-content;
    position: relative;
    left: 8%;
}

::placeholder{
    color: red;
    font-size: 16px;
}